{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>즐겨 찾기</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


<!-- about_area_start  -->
<div class="about_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-90">
                    <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"></span>
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">SCS SERVICE 즐겨찾기</h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">매번 충전소를 찾느라 지치셨죠?</p>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">당신의 시간을 아껴 드립니다.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="https://img.cdn.encarmagazine.com/2019/09/IRw4P0kRoySwtzMbz6sV-jgU6p4c.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3>XX 충전소</h3>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">대구 광역시 선원남로99 XXXX</p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">30분 요금 : XX원  </li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">추가 요금(10분) : XX원</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">운영 시간</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".8s">평일 - XX:XX ~ XX:XX</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">토요일 - XX:XX ~ XX:XX</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">공휴일(일요일) - XX:XX ~ XX:XX</li>
                        </ul>
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                        <a class="boxed-btn3" href="apply.html">충전소 예약</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="http://www.carguy.kr/news/photo/201804/32027_6843_1617.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3>OO 충전소</h3>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">대구 광역시 선원남로99 YYYY</p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">30분 요금 : XX원  </li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">추가 요금(10분) : XX원</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">운영 시간</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".8s">평일 - XX:XX ~ XX:XX</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">토요일 - XX:XX ~ XX:XX</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">공휴일(일요일) - XX:XX ~ XX:XX</li>
                        </ul>
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                        <a class="boxed-btn3" href="apply.html">충전소 예약</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end  -->

{{>layout/footer}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->