{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>memberList Page</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <h1>happy parking page</h1>
            <br>
            <h2>주차장 등록하기</h2>
            남는 공간이나 주차장이 있으신가요?<br>
            공간과 주차장을 등록한 후 수입을 만들어보세요.<br>
            <a href="/happyParking/happyParkingRegister" role="button">계속</a>
        </div>
    </div>
</section>

{{>layout/footer}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->