
<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="/img/footer_logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            5kmhc@yju.ac.kr <br>
                            Tel.053 940 5290 <br>
                            대구광역시 북구 복현동 영진전문대(본관, 300호)
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                        <h3 class="footer_title">
                            Service
                        </h3>
                        <ul>
                            <li><a href="#">SCS </a></li>
                            <li><a href="#">Happy Parking </a></li>
                            <li><a href="#">Which Vehicle</a></li>
                            <li><a href="#">Other Service</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <h3 class="footer_title">
                            About
                        </h3>
                        <ul>
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">회원이용약관</a></li>
                            <li><a href="#">개인정보취급방침</a></li>
                            <li><a href="#">위치기반서비스 이용약관</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                        <h3 class="footer_title">
                            Source
                        </h3>
                        <!--
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit">Subscribe</button>
                        </form>
                        -->
                        <div>
                            <img src="/img/source/springBoot.png" style="width:64px; height:64px; margin:5px;">
                            <img src="/img/source/raspberryPiLogo.png" style="width:64px; height:64px; margin:5px;">
                            <img src="/img/source/oracle.png" style="width:64px; height:64px; margin:5px;">
                            <br>
                            <img src="/img/source/bootStrap.png" style="width:64px; height:64px; margin:5px;">
                            <img src="/img/source/aws.png" style="width:64px; height:64px; maring-top:5px; margin:5px;">
                            <img src="/img/source/kakaoLogin.png" style="width:84px; height:64px; margin:5px;">
                            <br>
                            <img src="/img/source/kakaoMap.png" style="width:128px; height:64px; margin:5px;">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 5km Home Charge
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->

<!-- link that opens popup -->
<!-- JS here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/ajax-form.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/scrollIt.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/nice-select.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/gijgo.min.js"></script>
<script src="/js/slick.min.js"></script>




<!--contact js-->
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>


<script src="/js/main.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a4cbfafa38271c04ce12fce1ee332b36&libraries=services"></script>
<script src="/js/kakaomap.js"></script>
<script src="/js/member.js"></script>

</body>

</html>