{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->

<!-- slider_area_start 원본 -->
<!--
<div class="slider_area">
    <div class="single_slider d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-lg-7 col-md-6">
                    <div class="slider_text">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">SCS 서비스</h3>
                        <h4 class="wow fadeInRight" style="color: #5db2ff; margin-bottom: 5%;">매번 충전소 찾느라 지치셨죠?
                            당신의 시간을 아껴 드립니다.</h4>
                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            <a href="/chargingStation/chargingSearch" class="boxed-btn3">충전소 찾기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="back_darkblue">
            </div>
            <img src="../img/chargingStation/SCS04.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s" style="color: whitesmoke;">SCS</h3>
                <h4 class="wow fadeInRight" style="color: #5db2ff; margin-bottom: 5%;">충전과 시간을 효율적으로</h4>
                <p>
                    <a href="/chargingStation/chargingSearch" class="boxed-btn3">충전소 찾기</a>
                </p>
            </div>

        </div>
        <div class="carousel-item">
            <div class="back_darkblue">
            </div>
            <img src="../img/happyParking/HP10.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s" style="color: whitesmoke;">HAPPY PARKING</h3>
                <h4 class="wow fadeInRight" style="color: #5db2ff; margin-bottom: 5%;">복잡한 주차 문제를 깔끔하게 </h4>
                <p>
                    <a href="/happyParking/happyParkingSearch" class="boxed-btn3">주차장 찾기</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="back_darkblue">
            </div>
            <img src="../img/happyParking/HP05.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s" style="color: whitesmoke;">WATCH VEHICLE</h3>
                <h4 class="wow fadeInRight" style="color: #5db2ff; margin-bottom: 5%;">실시간으로 안전하게</h4>
                <p>
                    <a href="/watchVehicle" class="boxed-btn3">실시간 감시</a>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<!-- slider_area_end -->

<br><br><br>
<!-- 여백 -->

<!-- about_area_start  -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="../img/chargingStation/SCS02.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3>About SCS</h3>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        더 이상 시간을 낭비하지마세요.<br>
                        저희가 제공하는 Sharing Charging Station(SCS) 서비스는 더 빠르게 전기차 충전소를 찾도록 도와주며,
                        공용 충전소 및 거주공간의 충전소를 빌려 사용할 수 있도록 도와줍니다.<br>
                    </p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">가까운 위치의 충전소를 빠르게 검색</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">실시간 최저가의 충전소를 찾아 합리적으로 소비</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">가까운 아파트의 충전소를 공유하여 충전</li>
                        </ul>
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                        <a class="boxed-btn3" href="/chargingStation/chargingSearch">충전소 찾기</a>
                    </div>
                </div>
            </div>
        </div> <br><br><br><br>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="../img/happyParking/hp01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3>About HP</h3>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        매번 주차 문제로 고민하셨나요?<br>
                        Happy Parking 서비스는 복잡한 주차 문제를 해결하기 위해,
                        공용 주차장 및 거주공간의 주차장을 빌려 간단하게 주차할 수 있도록 도와줍니다.<br>
                    </p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">가까운 위치의 주차장을 빠르게 검색</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">실시간 최저가의 주차장을 찾아 합리적으로 소비</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">시간대별 주차 빈도를 고려하여 효율적인 주차장 활용</li>
                        </ul>
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                        <a class="boxed-btn3" href="/happyParking/happyParkingSearch">주차장 찾기</a>
                    </div>
                </div>
            </div>
        </div> <br><br><br><br>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img src="../img/happyParking/HP05.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3>About WV</h3>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        안심하고 저희 서비스를 이용하세요.<br>
                        SCS, HP 서비스를 이용하는 동안 Watch Vehicle 서비스를 이용하여,
                        실시간으로 나의 차량을 감시하고 각종 사고에 미리 대처하도록 도와줍니다.<br>
                    </p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">실시간 스트리밍으로 언제든지 확인</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">녹화 및 기록으로 사고 발생시 대처</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">서비스를 이용하는 동안 무료 제공</li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">개인 및 공동 주거지역에서 입주민들도 안심</li>
                        </ul>
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                        <a class="boxed-btn3" href="/watchVehicle">실시간 감시</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about_area_end  -->

{{>layout/footer}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->